

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body
{
	background-color: #e9e9e9;
	font-family: Segoe UI light;
}

.jumbotron
	{
		background-color: #5A708C;
		padding-top: 30px;
		padding-bottom: 40px;
	}

#people
	{
		display: block;
		margin-top: -60px;
    	margin-left: auto;
    	margin-right: auto;
    	height: 50px;
    	width: auto;
	}

#whatif
	{
		font-family: Segoe UI light;
		color: #5A708C;
		padding-top: 20px;
		font-size: 28px;
		text-align: center;
	}

#map
	{
		margin-top: 40px;
		margin-left: 10px;
		background-color: #000;
		width: 450px;
		height: 350px;
		overflow: hidden;
	}

#cards
	{
		
		margin-top: 40px;
		margin-left: 50px;
		width: 500px;
		height: 351px;
		overflow: hidden;
	}
.stat-card
	{
		display: inline-block;
		background-color: #f2f2f2;
		margin-right: 60px;
		width: 450px;
		border: solid 1px #dcdcdc;
		height: 350px;
	}
.stat-card p
	{
		color: #5A708C;
		margin-top: 10px;
		font-size: 24px;
		text-align: center; 
	}
.health-card i
	{
		padding-right: 4px;
	}

#health-picture
	{
		margin-top: 60px;
		max-width:300px;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		font-size: 16px;
		color: #e74c3c;
	}
#use-health
	{
		color: #2ecc71;
		font-size: 16px;
	}
.use-health-text
	{
		color: #2ecc71;
	}
.not-use-health-text
	{
		margin-left: 180px;
		color: #e74c3c;
	}


#literacy-picture
	{
		margin-top: 60px;
		max-width:300px;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		/*font-size: px;*/
		color: #bdc3c7;
	}
#literate
	{
		color: #f39c12;
	}
.lit-text
	{
		color: #f39c12;
	}
.illit-text
	{
		margin-left: 180px;
	}


#labor-picture
	{
		margin-top: 110px;
		max-width:300px;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		font-size: 24px;
		color: #5A708C;
	}
#labor 
	{
		color: #f39c12;
	}
.labor-text
	{
		color: #f39c12;
	}
.nonlabor-text
	{
		margin-left: 180px;
	}
.card-image
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
	}

.urbanrural-card-image
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 90px;
	}
.urbanrural-card p
	{
		 
		margin-left: 10px;
	}
#urban
	{
		margin-left: 180px;
	}

.labor-card i 
	{
		font-size: 44px;
	}

.age-card p
	{
		margin-left: -20px;
	}

.toilet-card p 
	{
		margin-top: 40px;
	}
.young, .muslim
	{

	}
.adult, .hindu
	{
		margin-left: 110px;
		margin-right: 110px;
	}
.old, .christian
	{

	}
.gender-card p
	{
		 
		margin-left: -5px;
	}
#female
	{
		margin-left: 110px;
	}
#not-have-toilet
	{
		margin-left: 110px;
	}
.unemployed
	{
		margin-left: 110px;
	}


#printRow
	{
		text-align: center;
	}
#abcd
	{
		font-size: 24px;
	}

#scroller
	{
		margin-top: 70px;
	}

.footer
	{
		height: 50px;
		background-color: #54ACBF;
		width: auto;
		margin-top: 40px;
	}





/*map coloring

[data-code="IN-AN"] {
	fill:#e74c3c;
	}
[data-code="IN-BR"] {
	fill:#4FC1E9;
	}
[data-code="IN-MZ"] {
	fill:#e74c3c;
	}
[data-code="IN-DD"] {
	fill:#4FC1E9;
	}
[data-code="IN-DN"] {
	fill:#e74c3c;
	}
[data-code="IN-DL"] {
	fill:#e74c3c;
	}
[data-code="IN-NL"] {
	fill:#e74c3c;
	}
	[data-code="IN-WB"] {
	fill:#e74c3c;
	}
	[data-code="IN-HR"] {
	fill:#e74c3c;
	}
	[data-code="IN-HP"] {
	fill:#e74c3c;
	}
	[data-code="IN-AS"] {
	fill:#e74c3c;
	}
	[data-code="IN-UT"] {
	fill:#e74c3c;
	}
	[data-code="IN-JH"] {
	fill:#e74c3c;
	}
	[data-code="IN-JK"] {
	fill:#e74c3c;
	}
	[data-code="IN-UP"] {
	fill:#e74c3c;
	}
	[data-code="IN-SK"] {
	fill:#e74c3c;
	}
	[data-code="IN-CT"] {
	fill:#e74c3c;
	}
	[data-code="IN-CH"] {
	fill:#e74c3c;
	}
	[data-code="IN-GA"] {
	fill:#e74c3c;
	}
	[data-code="IN-GJ"] {
	fill:#e74c3c;
	}
	[data-code="IN-RJ"] {
	fill:#e74c3c;
	}
	[data-code="IN-MP"] {
	fill:#e74c3c;
	}
	[data-code="IN-MH"] {
	fill:#e74c3c;
	}
	[data-code="IN-TN"] {
	fill:#e74c3c;
	}
	[data-code="IN-PY"] {
	fill:#e74c3c;
	}
	[data-code="IN-AP"] {
	fill:#e74c3c;
	}
	[data-code="IN-TR"] {
	fill:#e74c3c;
	}
	[data-code="IN-AR"] {
	fill:#e74c3c;
	}
	[data-code="IN-KA"] {
	fill:#e74c3c;
	}
	[data-code="IN-PB"] {
	fill:#e74c3c;
	}
	[data-code="IN-ML"] {
	fill:#e74c3c;
	}
	[data-code="IN-MN"] {
	fill:#e74c3c;
	}
	[data-code="IN-OR"] {
	fill:#e74c3c;
	}
	[data-code="IN-KL"] {
	fill:#e74c3c;
	}


*/
#scroller{
	text-align: center;
}
@media (max-width: 500px) {
 	#cards, #map{
 		width: 100%;
 	}
 }