

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body
{
	background-color: #e9e9e9;
	font-family: Segoe UI light;
}

.jumbotron
	{
		background-color: #5A708C;
		padding-top: 30px;
		padding-bottom: 40px;
	}

#people
	{
		display: block;
		margin-top: -60px;
    	margin-left: auto;
    	margin-right: auto;
    	height: 50px;
    	width: auto;
	}

#whatif
	{
		font-family: Segoe UI light;
		color: #5A708C;
		padding-top: 20px;
		font-size: 28px;
		text-align: center;
	}

#map
	{
		margin-top: 40px;
		margin-left: 10px;
		background-color: #000;
		width: 450px;
		height: 350px;
		overflow: hidden;
	}

#cards
	{
		
		margin-top: 40px;
		margin-left: 50px;
		width: 500px;
		height: 351px;
		overflow: hidden;
	}
.stat-card
	{
		display: inline-block;
		background-color: #f2f2f2;
		margin-right: 60px;
		width: 450px;
		border: solid 1px #dcdcdc;
		height: 350px;
	}

.card-image
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
	}
.gender-card p
	{
		color: #5A708C;
		margin-top: 10px;
		font-size: 24px;
		text-align: center; 
		margin-left: -5px;
	}
.female
	{
		margin-left: 110px;
	}



.footer
	{
		height: 30px;
		background-color: #54ACBF;
		width: auto;
		margin-top: 70px;
	}










